.content-form h3{
    color: #b00f14;
    font-weight: 600;
    text-align: center;
}

.content-form h4{
    color: #b00f14;
    font-weight: 600;
}

.bg-light{
    border-bottom: solid 2px #b00f14;
}

.text-form p{
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 0.875em;
}