<div class="bg-uninta">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light nav-end">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="home"><img alt="" src="../assets/img/logo-uninta-white.png"></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link  text-white" routerLink="/bolsaMedicina">Bolsa Medicina</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-white" routerLink="/isencaoTaxa">Isenção de Taxa</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<div class="main-footer">
  <div class="container">
    <div class="row">

      <div class="col-md-2 py-3">
        <h5>Uninta</h5>
        <ul>
          <li><a href="#">Conheça o UNINTA</a></li>
          <li><a href="#">Cursos de Graduação</a></li>
          <li><a href="#">Cursos de Pós-graduação</a></li>
          <li><a href="#">Cursos de Mestrado</a></li>
          <li><a href="#">Cursos EaD</a></li>
          <li><a href="#">Cursos online</a></li>
          <li><a href="#">Processos Seletivos</a></li>
        </ul>
      </div>

      <div class="col-md-2 py-3">
        <h5>Acesso Rápido</h5>
        <ul>
          <li><a href="#">Editais</a></li>
          <li><a href="#">Área do Aluno</a></li>
          <li><a href="#">Área do Professor</a></li>
          <li><a href="#">Área do Egresso</a></li>
          <li><a href="#">Área do Polos EaD</a></li>
          <li><a href="#">Ambiente Virtual</a></li>
          <li><a href="#">Biblioteca</a></li>
          <li><a href="#">Rev. Formar</a></li>
          <li><a href="#">Rev. Formar Interdisplinar</a></li>
          <li><a href="#">ENADE</a></li>
        </ul>
      </div>

      <div class="col-md-2 py-3">
        <h5>Links Úteis</h5>
        <ul>
          <li><a href="#">Webmail</a></li>
          <li><a href="#">CPA</a></li>
          <li><a href="#">SEAD/PRODEG</a></li>
          <li><a href="#">Lotação de Salas</a></li>
          <li><a href="#">Tutoriais</a></li>
          <li><a href="#">Acesso Remoto</a></li>
          <li><a href="#">Suporte a Sistemas</a></li>
          <li><a href="#">Autenticador de Documentos</a></li>
          <li><a href="#">Autenticador de Documentos</a></li>
        </ul>
      </div>

      <div class="col-md-2 py-3">
        <h5>Oportunidade</h5>
        <ul>
          <li><a href="#">Trabalhe Conosco</a></li>
          <li><a href="#">Estágios</a></li>
          <li><a href="#">Pré-cadastro de polo EAD</a></li>
        </ul>
      </div>

      <div class="col-md-2 py-3">
        <h5>Fale Conosco</h5>
        <ul>
          <li><a href="#">(88) 3112 3500</a></li>
          <li><a href="mailto:ouvidoria@uninta.edu.br">ouvidoria@uninta.edu.br</a></li>
        </ul>
      </div>

      <div class="col-md-2 py-3 link-sociais">
        <h5>Redes Sociais</h5>
          <a href="#" class=""><i class="bi bi-facebook"></i></a>
          <a href="#" class="mx-3"><i class="bi bi-instagram"></i></a>
          <a href="#" class=""><i class="bi bi-vimeo"></i></a>
      </div>

      <div class="col-md-12">
        <p class="mb-3">© 2022 Todos os direitos reservados. Centro Universitário INTA - UNINTA</p>
      </div>

      <div class="col-md-5 py-3">
        <p><b>Campus Sede</b><br>R. Antônio Rodrigues Magalhães, 359<br>
          Dom Expedito, Sobral - CE, 62.050-100</p>
      </div>

      <div class="col-md-5 py-3">
        <p><b>Campus fora da sede</b><br>
          ROD. BR 402 Nº 354 - Encruzilhada<br>
          Itapipoca - CE, 62.500-000</p>
      </div>

      <div class="col-md-2 py-3">
        <img src="../assets/img/logo-nti-sistemas.png" alt="">
      </div>
      
    </div>    
  </div>
</div>