<div class="container">
    <div class="content-form container-form">
        <div class="row">
            <div class="col-md-12 my-5 p-4">
                <h3>Formulário Socioeconômico - (Documentos para Solicitação de Isenção da Taxa de Inscrição)</h3>
                <!-- Formulário dados do alunos -->
                <form class="row g-3 mt-5">
                    <div>
                        <h4 class="bg-light p-3">Dados do(a) aluno(a)</h4>
                    </div>
                    <div class="col-md-6">
                        <label for="nome" class="form-label"><b>Nome do(a) estudante *</b></label>
                        <input type="text" class="form-control" id="nome">
                    </div>
                    <div class="col-md-6">
                        <label for="cpf" class="form-label"><b>CPF *</b></label>
                        <input type="text" class="form-control" id="cpf" placeholder="000.000.000-00">
                    </div>
                    <div class="col-md-6">
                        <label for="curso" class="form-label"><b>Curso *</b></label>
                        <input type="text" class="form-control" id="curso">
                    </div>
                    <div class="col-md-6">
                        <label for="turno" class="form-label"><b>Turno *</b></label>
                        <input type="text" class="form-control" id="turno">
                    </div>
                    <div class="col-md-6">
                        <label for="nascimento" class="form-label"><b>Data de nascimento *</b></label>
                        <input type="date" class="form-control" id="nascimento">
                    </div>
                    <div class="col-md-6">
                        <label for="genero" class="form-label"><b>Gênero *</b></label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="" id="">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Masculino
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="" id="">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Feminino
                            </label>
                        </div>
                    </div>

                    <!-- Formulário endereço do aluno -->
                    <div class="col-md-12">
                        <div class="row g-3 mb-5">
                            <h4 class="bg-light p-3">Endereço</h4>
                            <div class="col-md-6">
                                <label for="rua" class="form-label"><b>Rua *</b></label>
                                <input type="text" class="form-control" id="rua">
                            </div>
                            <div class="col-md-6">
                                <label for="cep" class="form-label"><b>CEP *</b></label>
                                <input type="text" class="form-control" id="cep">
                            </div>
                            <div class="col-md-3">
                                <label for="numero" class="form-label"><b>Número *</b></label>
                                <input type="text" class="form-control" id="numero">
                            </div>
                            <div class="col-md-3">
                                <label for="apartamento" class="form-label"><b>Apart.</b></label>
                                <input type="text" class="form-control" id="apartamento">
                            </div>
                            <div class="col-md-6">
                                <label for="proximo" class="form-label"><b>Próximo de</b></label>
                                <input type="text" class="form-control" id="proximo">
                            </div>
                            <div class="col-md-2">
                                <label for="estado" class="form-label"><b>UF *</b></label>
                                <input type="text" class="form-control" id="estado">
                            </div>
                            <div class="col-md-10">
                                <label for="cidade" class="form-label"><b>Cidade *</b></label>
                                <input type="text" class="form-control" id="cidade">
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label"><b>E-mail do estudante *</b></label>
                                <input type="text" class="form-control" id="email" placeholder="ex: email@yahoo.com">
                            </div>
                            <div class="col-md-3">
                                <label for="raca" class="form-label"><b>Raça *</b></label>
                                <input type="text" class="form-control" id="raca">
                            </div>
                            <div class="col-md-3">
                                <label for="telefone" class="form-label"><b>Telefone *</b></label>
                                <input type="text" class="form-control" id="telefone">
                            </div>

                            <div class="col-md-6">
                                <label for="deficiencia" class="form-label"><b>Estudante com Deficiência? *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="" id="">
                                    <label class="form-check-label" for="">
                                        Não
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="" id="">
                                    <label class="form-check-label" for="">
                                        Sim
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="deficiencia" class="form-label"><b>Se a resposta for SIM, qual é a
                                        deficiência?</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Deficiência física
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Deficiência mental
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Deficiência auditiva
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Deficiência múltipla
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Deficiência visual(menos de 30%, com a melhor correção)
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="indigena" class="form-label"><b>Indígena *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Não
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Sim
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="comunidade" class="form-label"><b>Qual comunidade?</b></label>
                                <input type="text" class="form-control" id="comunidade">
                            </div>

                            <div class="col-md-6">
                                <label for="quilombola" class="form-label"><b>Quilombola *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Não
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Sim
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="comunidade" class="form-label"><b>Qual comunidade?</b></label>
                                <input type="text" class="form-control" id="comunidade">
                            </div>


                        </div>
                    </div>

                    <!-- Formulário de Composição familiar -->
                    <div class="col-md-12">
                        <div class="row g-3 mb-5">
                            <h4 class="bg-light p-3">Composição familiar</h4>
                            <p>(iniciar o preenchimento do quadro com os dados do(a) estudante. Neste campo deverá
                                constar o
                                nome de todas as pessoas que moram na mesma residência do(a) aluno(a), inclusive
                                crianças)</p>

                            <div class="col-md-5">
                                <label for="nome" class="form-label"><b>Nome *</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                            <div class="col-md-3">
                                <label for="cpf" class="form-label"><b>CPF *</b></label>
                                <input type="text" class="form-control" id="cpf" placeholder="000.000.000-00">
                            </div>
                            <div class="col-md-2">
                                <label for="idade" class="form-label"><b>Idade *</b></label>
                                <input type="text" class="form-control" id="idade">
                            </div>
                            <div class="col-md-2">
                                <label for="parentesco" class="form-label"><b>Parentesco *</b></label>
                                <input type="text" class="form-control" id="turno">
                            </div>
                            <div class="col-md-5">
                                <label for="genero" class="form-label"><b>Exerce atividade remunerada?</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="" id="">
                                    <label class="form-check-label" for="">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="" id="">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Não
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label for="parentesco" class="form-label"><b>Profissão/Ocupação</b></label>
                                <input type="text" class="form-control" id="turno">
                            </div>
                            <div class="col-md-2">
                                <label for="parentesco" class="form-label"><b>Renda Bruta R$</b></label>
                                <input type="text" class="form-control" id="turno">
                            </div>
                        </div>
                    </div>

                    <!-- Formulário Educação -->
                    <div class="col-md-12">
                        <div class="row g-3 mb-5">
                            <h4 class="bg-light p-3">Educação</h4>
                            <div class="col-md-8">
                                <label for="escola" class="form-label"><b>Escola que cursou o Ensino Médio *</b></label>
                                <input type="text" class="form-control" id="escola">
                            </div>
                            <div class="col-md-4">
                                <label for="ano" class="form-label"><b>Ano de conclusão *</b></label>
                                <input type="text" class="form-control" id="ano">
                            </div>

                            <div class="col-md-8">
                                <label for="genero" class="form-label"><b>Participou do ENEM? *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Não
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="ano" class="form-label"><b>Ano *</b></label>
                                <input type="text" class="form-control" id="ano">
                            </div>

                            <div class="col-md-8">
                                <label for="genero" class="form-label"><b>Está cursando outro curso superior?
                                        *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Não
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="ano" class="form-label"><b>Qual?</b></label>
                                <input type="text" class="form-control" id="ano">
                            </div>

                        </div>
                    </div>

                    <!-- Formulário Outras Rendas -->
                    <div class="col-md-12">
                        <div class="row g-3 mb-5">
                            <h4 class="bg-light p-3">Outras Rendas - em R$:</h4>
                            <div class="col-md-6">
                                <label for="nome" class="form-label"><b>A- Pensão Alimentícia (a receber)</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                            <div class="col-md-6">
                                <label for="nome" class="form-label"><b>B- Rendas de Aluguel (a receber)</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                            <div class="col-md-6">
                                <label for="nome" class="form-label"><b>C- Programas Sociais de Transferência de Renda
                                        do
                                        Governo Federal (Bolsa Família/BPC)</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                            <div class="col-md-6">
                                <label for="nome" class="form-label"><b>D- Seguro desemprego</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                            <div class="col-md-6">
                                <label for="nome" class="form-label"><b>E- Aposentadoria</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                            <div class="col-md-6">
                                <label for="nome" class="form-label"><b>F- Pensão por morte</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                            <div class="col-md-6">
                                <label for="nome" class="form-label"><b>G- Auxílio doença, auxílio reclusão, auxílio
                                        acidente e
                                        salário maternidade</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                            <div class="col-md-6">
                                <label for="nome" class="form-label"><b>H- Auxílio Financeiro</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                            <div class="col-md-6">
                                <label for="nome" class="form-label"><b>Valor total das rendas em reais</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                        </div>
                    </div>

                    <!-- Formulário Imposto de Renda -->
                    <div class="col-md-12">
                        <div class="row g-3 mb-5">
                            <h4 class="bg-light p-3">Declaração do imposto de renda da pessoa física (IRPF)</h4>

                            <div class="col-md-12">
                                <label for="genero" class="form-label"><b>Algum membro do grupo familiar declarou
                                        imposto de
                                        renda
                                        da pessoa física em 2020? *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Não
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <h4>Quadro de despesas</h4>
                                <p>Despesas familiares - em R$</p>
                            </div>

                            <div class="col-md-4">
                                <label for="genero" class="form-label"><b>1. Moradia *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Próprio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Financiado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Alugado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Cedido
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="genero" class="form-label"><b>Se próprio, quantos imóveis
                                        possui?</b></label>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Um
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Dois
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Três ou mais
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="escola" class="form-label"><b>Se alugado, qual o valor do
                                        aluguel?</b></label>
                                <input type="text" class="form-control" id="escola">
                            </div>

                            <div class="col-md-6">
                                <label for="escola" class="form-label"><b>Se financiado, qual o valor da
                                        prestação?</b></label>
                                <input type="text" class="form-control" id="escola">
                            </div>

                            <div class="col-md-6">
                                <label for="genero" class="form-label"><b>O imóvel em que o(a) estudante reside
                                        localiza-se em
                                        área *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Urbana
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Rural
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        de vulnerabilidade e risco
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p><b>2. Despesas Mensais Básicas:</b></p>
                            </div>

                            <div class="col-md-2">
                                <label for="" class="form-label"><b>A- Água</b></label>
                                <input type="text" class="form-control" id="">
                            </div>

                            <div class="col-md-2">
                                <label for="genero" class="form-label"><b>B- Luz</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-2">
                                <label for="genero" class="form-label"><b>C- Telefone</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-2">
                                <label for="genero" class="form-label"><b>D- Internet</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-2">
                                <label for="genero" class="form-label"><b>E- Alimentação</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-2">
                                <label for="genero" class="form-label"><b>F- Condomínio</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-3">
                                <label for="genero" class="form-label"><b>G- Pensão Alimentícia (a pagar)</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-3">
                                <label for="genero" class="form-label"><b>H- IPTU (parcelamento)</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-3">
                                <label for="genero" class="form-label"><b>I- Taxa de lixo (parcelamento)</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-3">
                                <label for="genero" class="form-label"><b>J- Plano de saúde</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-3">
                                <label for="genero" class="form-label"><b>K- Transporte escolar</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-3">
                                <label for="genero" class="form-label"><b>L- Cursos</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-3">
                                <label for="genero" class="form-label"><b>M- Outros</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-3">
                                <label for="genero" class="form-label"><b>Valor total das rendas em reais</b></label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                        </div>
                    </div>

                    <!-- Formulário de Informações Complementares -->
                    <div class="col-md-12">
                        <div class="row g-3 mb-5">
                            <h4 class="bg-light p-3">Informações Complementares</h4>

                            <div class="col-md-6">
                                <label for="genero" class="form-label"><b>Há algum membro do grupo familiar estudando em
                                        outra Instituição de Ensino particular? *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Não
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="genero" class="form-label"><b>Se sim,</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Pagante
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Fies
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Bolsista integral
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Bolsista parcial
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p><b>Se sim,</b></p>
                                <label for="genero" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-10">
                                <p></p>
                                <label for="genero" class="form-label"> Instituição</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-2">
                                <p></p>
                                <label for="genero" class="form-label"> Valor da parcela</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-12">
                                <label for="genero" class="form-label"><b>Há algum membro do grupo familiar que faz
                                        tratamento de doença crônica* e faz uso contínuo de medicamentos? *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Não
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p><b>Se sim,</b></p>
                                <label for="genero" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-10">
                                <p></p>
                                <label for="genero" class="form-label"> Tipo de Doença</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-2">
                                <p></p>
                                <label for="genero" class="form-label"> Despesa Mensal</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-12">
                                <label for="genero" class="form-label"><b>Há algum membro do grupo familiar com
                                        deficiência**? *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Não
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p><b>Se sim,</b></p>
                                <label for="genero" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-10">
                                <p></p>
                                <label for="genero" class="form-label"> Tipo de Doença</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-2">
                                <p></p>
                                <label for="genero" class="form-label"> Despesa Mensal</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-10">
                                <label for="genero" class="form-label"><b>Possui veículo? *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Não
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <p></p>
                                <label for="genero" class="form-label">Quantos?</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-12">
                                <p><b>Se sim,</b></p>
                                <label for="genero" class="form-label">Especificar marca, modelo e ano</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-10">
                                <p></p>
                                <label for="genero" class="form-label">Veículo quitado?</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-2">
                                <p></p>
                                <label for="genero" class="form-label">Valor da parcela</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-12">
                                <label for="" class="form-label"><b>Algum membro do grupo familiar possui Pessoa
                                        Jurídica (Empresa ou MEI) registrada em seu nome? *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Não
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Ativa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Ativa sem movimentação
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Inativa/baixada
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="genero" class="form-label">Se sim, incluir o CNPJ</label>
                                <input type="text" class="form-control" id="nome">
                            </div>

                            <div class="col-md-12">
                                <label for="" class="form-label"><b>Possui cadastro único para programas sociais do
                                        Governo Federal (cadÚnico)? *</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Não
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p>* Doença crônica: doenças pulmonares, renais, câncer, sanguíneas, AIDS, neurológicas
                                    (epilepsia), cardíacas, outras. ** Tipos de deficiência: física, mental, sensorial
                                    (auditiva, visual), múltipla - (conforme Decreto 3.298/99).</p>
                            </div>

                        </div>
                    </div>

                    <div class="container">
                        <a href="" class="btn btn-primary">Avançar</a>
                        <button type="submit" class="btn btn-primary mx-3">Anterior</button>
                        <button class="btn btn-success">Enviar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>