.content-form h3{
    color: #b00f14;
    font-weight: 600;
    text-align: center;
}

.content-form h4{
    color: #b00f14;
    font-weight: 600;
}

.bg-light{
    border-bottom: solid 2px #b00f14;
}