.card-body i{
    color: #27ae60;
    font-size: 5em;
}

.card-body h5{
    color: #27ae60;
    font-size: 1.5em;
    padding-bottom: 20px;
}

.card-body{
    padding: 50px 50px;
}

.card{
    border: none;
}