<div class="container py-5 text-center">
    <div class="card-obrigado">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="bi bi-check-circle"></i>
                      <h5 class="card-title my-3">Inscrição realizada com sucesso!</h5>
                      <a routerLink="/home" class="btn btn-primary">Volta ao site!</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>



